.git/
.env
.venv/
venv/
env/
ENV/
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
mcpuniverse.egg-info/
build/
dist/
log/
results/
report/
local_workspace/
notebook/
.DS_Store
**/.DS_Store
.vscode/
.idea/
